.alignHeader{
  margin-top: 16px;
}

body{
  background: linear-gradient(to right, rgba(225,255,255,1) 0%,
  rgba(230,248,253,1) 30%,rgba(200,238,251,1) 54%,rgba(190,228,248,1) 75%,rgba(177,216,245,1) 100%);
  /*background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);*/
}

/* General idea from http://pdenya.com/2013/08/08/vertical-space-in-bootstrap/ */
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

input.ng-dirty.ng-invalid{
  border:2px solid red;
}

textarea.ng-dirty.ng-invalid{
  border:2px solid red;
}

.bg-danger {
  padding: 5px 1px;
  text-align: center;
  border: 1px solid black;
  border-radius: 3px;
}

.message{
  background-color: rgb(233, 241, 241);
  border: 1px solid black;
  border-radius: 2px;
  padding-top: 5px;
  word-wrap: break-word;
}

#preview{
  background-color: rgb(124, 186, 179);
}

.message:not(:last-child) {
  margin-bottom: 10px;
}

.deleteButton {
  padding-top: 0px;
}

a:focus, a:active, .btn-link:active, .btn-link:focus{
  outline: 0;
}

#buttonrow {
  margin-left: 0px;
}

#optionsloading{
  display: inline-block;
  height: 50px;
  margin-left: 10px;
}

.modal-content {
  padding: 25px;
  padding-left: 45px;
}

#resetButton {
  padding-left: 0px;
}

#chatbox {
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 1px 1px 1px black;
  background-color: rgb(202, 241, 234);
  padding: 0;
}

#chatselect {
  width: 100%;
}

#chatselect button {
  width: 100%;
  text-align: left;
}

#chatselect .dropdown-menu {
  width: 100%;
}

#chatselect .dropdown-menu li {
  padding: 3px 10px;
}

#selectcaret {
  margin-right: 20px;
}

#chatinput {
  height: 25px;
  font-size: 15px;
  width: 100%;
  padding: 1px;
}

#chatcontent {
  height: 350px;
  overflow-y: scroll;
}
